{% extends "layout.html" %}
{% block content %}

<link href="/static/css/signin.css" rel="stylesheet">
<form class="form-signin" action="/createuser" method="POST">
    {% if errmessage %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">ERROR</h3>
            </div>
            <div class="panel-body">
                {{ errmessage }}
            </div>
        </div>
    {% endif %}
    <h2 class="form-signin-heading">Create User</h2>
    <label for="inputUserName" class="sr-only">User name</label>
    <input type="text" id="inputUserName" class="form-control" placeholder="User name" name="username" required autofocus>
    <!--
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>

{% endblock %}
