{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="col-sm-6 col-md-offset-3 btn btn-primary" id="show-ssh-key">Show SSH key</button>
                <br>
                <br>
                <div class="well "id="ssh-key" style="display:none;clear:both;word-wrap: break-word;">
                    {{ ssh_key }}
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        $('#show-ssh-key').click(function() {
            $('#ssh-key').toggle();
        });
    </script>
{% endblock %}
