{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="col-sm-6 col-md-offset-3 btn btn-primary" id="show-ssh-key">Show SSH key</button>
                <br>
                <br>
                <div class="col-sm-6 col-md-offset-3 well "id="ssh-key" style="display:none;clear:both;word-wrap: break-word;">
                    {{ ssh_key }}
                </div>
                <br>
                <div class="col-sm-6 col-md-offset-3" style="clear:both;word-wrap: break-word;">
                    <h3>使い方</h3>
                    1. 上記のssh鍵をgitlabに登録してください。<br>
                    <a href="https://develop.klab.ai.kyutech.ac.jp/profile/keys">ここ</a>で登録できます。
                    2. 論文のリポジトリの中にあるMakefileを以下の内容に差し替えてください。<br>
                    <div class="well" style="clear:both;word-wrap: break-word;">
                        abst.pdf: abst.tex cover1.tex cover2.tex spine.tex<br>
                            platex abst.tex cover1.tex cover2.tex spine.tex<br>
                            dvipdfmx abst.dvi<br>
                            rm abst.dvi abst.aux abst.log<br>
                    </div>
                    3. 論文のリポジトリの.gitignoreファイルの内容に以下のものを追加してください。(.gitignoreファイルがない場合は作成してください。)<br>
                    <div class="well" style="clear:both;word-wrap: break-word;">
                        *.pdf<br>
                    </div>
                    4. 論文の内容を変更し、gitlabにpushするとこのサーバにリポジトリがpullされてpdfファイルが生成されます。<br>
                    5. 生成されたpdfファイルは<a href="/pdf/abst.pdf">ここ</a>もしくはページ上部のナビゲーションバーのoutputedFileから見ることができます。<br>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        $('#show-ssh-key').click(function() {
            $('#ssh-key').toggle();
        });
    </script>
{% endblock %}
